<div class="cube">
  <img class="cube" src="{{imageUrl}}">
  <p class="name">{{name}}</p>
  <p><span>Difficulty level:</span> {{difficulty}} </p>
  {{!-- //underscore _ is a must while connected to mongoose --}}
  <a class="btn" href="/cube/{{_id}}">Details</a>
</div>